.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.header{
    background: #414243;
    display: block;
    top: -28px;
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 2;

}
.menu a.active {
    background: #B25538;
    background: #767769;
    color: #fff;
    border-radius: 5px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
.menu a {
    display: inline-block;
    color: #1D71B8;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    padding: 2px 7px;
    
}


.footer{
  background: grey;
  width: 100%;
  height: 80px;
}
.header h1{
  text-align: center;
  font-family: Arial, sans-serif;
}
.menu{
  
  padding: 10px;
  display: block;
  background: #EEDFAC;
  position: relative;
  
}
.footer p{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 24pt
}
.main{
   min-height: 100%;
    background: hsl(0,0%,99%);
    display: block;
    margin: 0 auto;
    left: 32%;
    /*height: 100%;*/
    padding: 8px;
    width: 680px;
    border:solid 0px; 
    top:145px;
    bottom: 80px;
    box-shadow: 1px 1px 1px 1px #888;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.layout:after{
    content: ' ';
    display: block;
}
footer,.layout:after{
    height: 10px;
}
.layout{
    overflow-y: auto;
    height: 100%;
    background: hsl(0,0%,96%);
    
    /*margin-bottom: -10px;*/
}
#root{
    overflow-y: auto;
    height: 100%;
    
    /*margin:0 auto -100px;*/
    flex-grow:1;
}
.page{
    /*position: absolute;*/
    min-height: 100%;
    background: white;
    display: block;
    margin: 0 auto;
    left: 32%;
    /*height: 100%;*/
    padding: 8px;
    width: 680px;
    
    top:145px;
    bottom: 80px;
    box-shadow: 1px 1px 2px #888;
}
.im-page--chat-input {
    overflow-y: auto;
    display: block;
    margin: 2px;
    padding: 30px;
    margin: 0 auto;
    background: hsl(0,0%,98%);
    z-index: 4;
    width: 618px;
       
    border-top: solid 1px #c0c0c0;
    border-bottom: solid 1px #c0c0c0;
    
}
.input--txt-wrap {
    position: relative;
    cursor: text;
    margin-top: 10px; 
    margin-bottom: 12px;
    background: #fff;
    border-radius: 3px;
    border: solid 1px #d3d9de;
}
.textarea {
    outline: 0;
    min-height: 36px;
    width: 100%;
    resize: none;
    
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
    line-height: 17px;
    padding: 9px 72px 10px 11px;
    margin-bottom: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    border: none;
    -o-transition: border-bottom-color 0.3s linear;
    transition: border-bottom-color 0.3s linear;
    -webkit-font-smoothing: subpixel-antialiase;
}
.placeholder {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 3;
    cursor: text;
    pointer-events: none;
}
.ph_input {
    padding: 5px 9px 7px;
    border-radius: 1px;
    box-sizing: border-box;
}
.placeholder.ph_content {
    color: #828282;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    padding: 1px;
    opacity: 1;
    -webkit-filter: none;
    filter: none;
}





.placeholder .ph_input {
    position: absolute;
    line-height: normal;
    z-index: 3;
    bottom: 0;
}

 #buttonnn {
    opacity: 0.5;
    position: absolute;
    background: url(/fly.svg) 50% no-repeat;
    height: 35px;
    width: 35px;
    border: none;
    text-shadow: none;
    top:0px;
    left: 570px;
    z-index: 5;
}
button, 
button:active, 
button:focus {
    outline: none;
}
button:hover{
    opacity: 1;
}
/**/


div.speech {
 position: relative;
 background: hsl(1,1%,96%);
 
 margin-top: 30px;
 border-radius: 10px;
 box-shadow: 1px 1px 2px #888;
padding:5px;
}


.time{
    position: relative;
    margin: 0px;
    left:88%;
    width: 35px;
    bottom:2px;
    /*background: green;*/
    
}
.transform{
    position: relative;
    margin: 0;
    left: 95%;
    height: 6px;
    width: 9px;
    border-left: 1px solid rgb(0,128,0);
    border-bottom: 1px solid rgb(0,128,0);
    transform: rotate(-50deg);
    bottom:-18px;
    background: #ffffff;
    z-index: 3;
}
.transform1{
    position: relative;
    margin: 0;
    left: 95.6%;
    height: 6px;
    width: 9px;
    border-left: 1px solid rgb(0,128,0);
    border-bottom: 1px solid rgb(0,128,0);
    transform: rotate(-50deg);
    bottom:-11px;
    
}
.text{
    text-align: center;
}
table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
width: 100%;
}
th, td:first-child {
background: #AFCDE7;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #D8E6F3;
}
th:first-child, td:first-child {
text-align: left;
}